{% extends "zonakista/base/base.html" %}

{% block body %}
<div class="container-fluid gv-dark-blue">
    <div class="container pt-5 pb-2 text-white">
        <div class="row">
            <div class="col pt-3">
                <h2>{{ citizen.name }}</h2>
            </div>
        </div>
    </div>
</div>
<div class="container pt-4">
    <div class="row">
        <div class="col">
            <img src="{{ citizen.avatar.url }}" alt="Nitera huzindras" class="gv-profile-avatar mb-3">
            <dl>
                <div>
                    <dt>Varzi</dt>
                    <dd>{{ citizen.occupation }}</dd>
                </div>
                <div>
                    <dt>Orvikam</dt>
                    <dd>{{ citizen.organisation }}</dd>
                </div>
                <div>
                    <dt>Zama</dt>
                    <dd>{{ citizen.city }}</dd>
                </div>
            </dl>
        </div>
    </div>
</div>
{% endblock body %}